*.pyc
.idea/
.old_logs
__pycache__
*.out
.ipynb_checkpoints
logs/
saved_models/
tmp
*DS_Store
figures/
.vscode/
wkspectra/figs/
notebooks/ankitesh-devlog/random_search/
notebooks/presentation/saved_ds.pkl
